<div class="row" >
 

  <div class="card text-black h-100" style="background-color: #FFE7C7;"  >
            
    <div>
   <div >
    <div class="card-deck " style="padding-top: 50px;border: none;" >
        <div class="card  " style="border: none;background-color: #FFE7C7;">
          
            


            <div style="padding-left: 50px;padding-right: 10px;">
                
                <h1><strong> Choose Experts To Complete Your<span style="color: red;">  Job </span> Done </strong>  </h1>
                <h5>Explore our marketplace to find top-rated professionals in your area. Compare reviews, check availability, and book services with confidence 
        
                </h5>

                <div class="input-group">
                  <!-- Search Icon -->
                  
                  <!-- Search Input -->
                  
               <!----  <app-search-box></app-search-box>-->
                  
                  <!--search input end here -->
                </div>
                <h4 style="padding-top: 50px;">
                    Free access to thousands of job opportunities <br>
                    Grow your business and client base <br>
                    Earn extra income on a flexible schedule <br>
                    No subscription or credit fees
                </h4>
                <input type="button" value="More Details" style="margin-top: 50px;">
            </div>
           
        </div>
        <div class="card  " style="border: none;background-color: #FFE7C7;">
            <div >
                <img src="https://template.binaryvines.com/servat/assets/images/banner/banner-girl-1.png" alt="" class="w-100 " style="padding-inline: 50px;">
            </div>
        </div>
       
      </div>

   
   
</div>
</div>
  
  </div>
   
  </div>