



<div>
    <div style="margin-top: 50px;">
        <div class="card bg-dark text-white h-100"  >
            
            <div>
           <div style="padding-bottom: 50px;">
            <div class="card-deck " style="padding-top: 50px;border: none;" >
                <div class="card bg-dark " style="border: none;">

                    <div style="padding-left: 50px;">
                        <h6 style="color: rgb(133, 83, 22);">>> PRICES FOR SERVICES</h6>
                        <h1>Understand Your Expenses, Reap the Rewards </h1>
                        <h4>Our Professional Website Setup service offers a comprehensive, fixed-price package designed .
                
                        </h4>
                        <h4 style="padding-top: 50px;">
                            Free access to thousands of job opportunities <br>
                            Grow your business and client base <br>
                            Earn extra income on a flexible schedule <br>
                            No subscription or credit fees
                        </h4>
                        <input type="button" value="More Details" style="margin-top: 50px;">
                    </div>
                   
                </div>
                <div class="card bg-dark " style="border: none;">
                    <div >
                        <img src="https://template.binaryvines.com/servat/assets/images/resource/reward.jpg" alt="" class="w-100" style="padding-inline: 50px;border-radius: 15%;">
                    </div>
                </div>
               
              </div>

           
           
        </div>
    </div>
          
          </div>
    </div>
</div>