<div>
    <div style="margin-top: 50px;">
        <div class="card bg-dark text-white h-100"  >
            <h6 class="card-text text-center" style="padding-top: 50px;color:  rgb(194, 138, 69);;">>> HOW IT WORKS </h6>
            <h4 class="text-center">Convenient Service Access
            </h4>
            <p class="text-center">
                Launch your online presence with ease! Our Professional Website Setup service offers a comprehensive.
            </p>
            <div>
           <div style="padding-bottom: 50px;">
            <div class="card-deck " style="padding-top: 50px;border: none;" >
                <div class="card bg-dark " style="border: none;">
                    <div align="center"><img class="card-img-top rounded-circle" src="https://template.binaryvines.com/servat/assets/images/icons/service-01.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;border: 1px solid; border-color: red;padding: 15px;" ></div>
                    
                  <div class="card-body text-center">
                    <h5 class="card-title">Choose Your Services</h5>
                    <p class="card-text">Pick the service you are looking for- from the website or the app.</p>
                  </div>
                </div>
                <div class="card bg-dark " style="border: none;">
                    <div align="center"><img class="card-img-top rounded-circle" src="https://template.binaryvines.com/servat/assets/images/icons/service-02.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;border: 1px solid; border-color: red;padding: 15px;" ></div>
                    
                  <div class="card-body text-center">
                    <h5 class="card-title">Pick Your Schedule</h5>
                    <p class="card-text">Pick the service you are looking for- from the website or the app.</p>
                  </div>
                </div>
                <div class="card bg-dark " style="border: none;">
                    <div align="center"><img class="card-img-top rounded-circle" src="https://template.binaryvines.com/servat/assets/images/icons/service-03.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;border: 1px solid; border-color: red;padding: 15px;" ></div>
                    
                  <div class="card-body text-center">
                    <h5 class="card-title">Place The Order</h5>
                    <p class="card-text">Pick the service you are looking for- from the website or the app.</p>
                  </div>
                </div>
                
              </div>

           
           
        </div>
    </div>
          
          </div>
    </div>
</div>