<h6 style="color: rgb(133, 83, 22); margin-top: 50px;" >FEATURED</h6>
<br>
<strong><h1>Included Services</h1></strong>

<div class="" style="margin-top: 50px;" >
    <div >
        
    <div class="card-deck "  >
        <div class="card bg-light " style="border-radius:40px;">
            <div align="center"><img class="card-img-top" src="https://template.binaryvines.com/servat/assets/images/resource/featured-1.jpg" alt="Card image cap"  ></div>
            
          <div class="card-body ">
            <h3 class="card-title">Office Cleaning Service From Best Cleaner</h3>
            <p class="card-text">Starting from</p>
           
            
         
            <h3 class="card-title">$24.00  <del>$32.00</del>  </h3>  
            <div align="center"> <input type="button" value="Book Now"></div>
          </div>
        </div>
        <div class="card bg-light "style="border-radius:40px;">
            <div align="center"><img class="card-img-top" src="https://template.binaryvines.com/servat/assets/images/resource/featured-2.jpg" alt="Card image cap"  ></div>
            
          <div class="card-body">
            <h3 class="card-title">Dreams are meant to come true easily</h3>
            <p class="card-text">Starting from</p>
           
            
            
            <h3 class="card-title">$24.00  <del>$32.00</del>  </h3> 
            <div align="center"> <input type="button" value="Book Now"></div>
          </div>
        </div>
        <div class="card bg-light "style="border-radius:40px;">
            <div align="center"><img class="card-img-top" src="https://template.binaryvines.com/servat/assets/images/resource/featured-3.jpg" alt="Card image cap"  ></div>
            
          <div class="card-body ">
            <h3 class="card-title">Masterful Carpentry, Delivered with Style  </h3>
            <p class="card-text">Starting from</p>
            
            <h3 class="card-title">$24.00  <del>$32.00</del>  </h3> 
            <div align="center"> <input type="button" value="Book Now"></div>
            
        </div>
       
      </div>
     
      </div>

      
       
</div>
