<h6 style="color: rgb(133, 83, 22);">CATEGORIES</h6>
<br>
<strong><h1>Popular Categories</h1></strong>

<div class="" style="margin-top: 50px;" >
    <div >
        
    <div class="card-deck "  >
      <!---first_card-->
    
      <div class="card bg-light ">
        <div align="center"><img class="card-img-top" src="../assets/images/fridge_repair.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
        
      <div class="card-body text-center">
        <h5 class="card-title">Apilliance</h5>
      </div>
    </div>
      <!---first_card_end here-->


        <div class="card bg-light ">
            <div align="center"><img class="card-img-top" src="../assets/images/commerical_ro.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
            
          <div class="card-body text-center">
            <h5 class="card-title">WATER PURIFIERS</h5>
          </div>
        </div>
        <div class="card bg-light ">
            <div align="center"><img class="card-img-top" src="../assets/images/water_purifier-removebg-preview.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
            
          <div class="card-body text-center">
            <h5 class="card-title">WATER SOFTING</h5>
          </div>
        </div>
       
      </div>
     
      </div>

      <div style="padding-top: 20px;"> 
        <div class="card-deck">
          <div class="card bg-light ">
            <div align="center"><img class="card-img-top" src="../assets/images/wahing_machine.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
            
          <div class="card-body text-center">
            <h5 class="card-title">WASHING MACHINE REPAIRS</h5>
          </div>
        </div>
        <div class="card bg-light ">
            <div align="center"><img class="card-img-top" src="https://template.binaryvines.com/servat/assets/images/resource/categori-5.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
            
          <div class="card-body text-center">
            <h5 class="card-title">PLUMBING</h5>
          </div>
        </div>
        <div class="card bg-light ">
            <div align="center"><img class="card-img-top" src="https://template.binaryvines.com/servat/assets/images/resource/categori-6.png" alt="Card image cap" style="height: 100px;width: 100px;vertical-align: middle;padding-top: 10px;" ></div>
            
          <div class="card-body text-center">
            <h5 class="card-title">ELECTRICAL WORKS</h5>
          </div>
        </div>
        
        
      </div>
      </div>
</div>
